:root {
  --font-size: 2vw;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
  /* font-size: var(--font-size); */
}

button {
  margin: 0;
  background: none;
  border: none;
  font-family: monospace;
  cursor: pointer;
  font-size: var(--font-size);
}
.grid button {
  height: var(--font-size);
  width: var(--font-size);
}
button:hover {
  font-weight: bold;
}

.layout {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
