:root {
  --font-size: calc(50vw / 30);
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
}

h1, h2, h3, h4, h5, p, button {
  margin: 0.5em;
}

button {
  margin: 0;
  background: none;
  border: none;
  font-family: monospace;
  cursor: pointer;
  font-size: var(--font-size);
}
button:hover {
  font-weight: bold;
}
.grid button {
  padding: 0;
  font-size: var(--font-size);
  height: var(--font-size);
  width: var(--font-size);
}

.layout {
  width: 100%;
  /* max-width: 720px; */
  text-align: center;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.row > div {
  width: 50%;
}
.rules {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rule {
  padding: 1em;
}
.rule .column {
  padding: 1em 0.5em;
}
.rule-pair {
  display: flex;
  justify-content: center;
  align-items: center;
}
