:root {
  --res: 3vh;
  font-size: calc(100vh / 40);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: grey;
  text-decoration: none;
  font-size: var(--res);
  font-family: monospace;
  line-height: var(--res);
  font-size: var(--res);
  list-style: none;
  position: relative;
}

body {
  margin: 0;
  font-family: monospace;
  line-height: var(--res);
  font-size: var(--res);
  background: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button {
  cursor: pointer;
  display: block;
  transition: color 0.1s, background 0.1s;
}
button:hover {
  color: white;
  background: lightgrey;
}
ul li {
  display: inline;
}
.selected {
  color: white;
  background: grey;
}

#app {
  width: calc(var(--res) * 46);
  height: calc(var(--res) * 32);
  margin: auto;
  display: flex;
  button {
    width: var(--res);
    height: var(--res);
  }
}
@media (max-width: 140vh) {
  :root {
    --res: 2vw;
    font-size: calc(100vw / 46);
  }
}

#grid {
  width: calc(var(--res) * 34);
  padding: var(--res);
  margin-left: var(--res);
  margin-right: var(--res);
  background: white;
  button {
    color: white;
  }
  .element-picker {
    position: absolute;
    top: 50%;
    left: calc(var(--res) * -3);
    width: calc(var(--res) * 2);
    transform: translate(0, -50%);
    background: lightgrey;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    button:hover {
      background: white !important;
      color: black;
    }
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    canvas {
      width: 100%;
      height: 100%;
      background: white;
      cursor: pointer;
    }
  }
}


#editor {
  width: calc(var(--res) * 12);
  padding: var(--res);
  background: lightgrey;
  display: flex;
  flex-direction: column;
  .element-list {
    width: 100%;
    height: calc(var(--res) * 2);
    overflow-x: scroll;
    display: flex;
    button {
      margin: 0 calc(var(--res) * 0.5);
    }
  }
  .rules {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
  .rule {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calc(var(--res) * 0.5);
    margin-bottom: calc(var(--res) * 0.5);
    .when, .then {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      & > div {
        display: flex;
        flex-wrap: wrap;
      }
    }
    .controls {
      margin-right: 0.5em;
      .rotate {
        transform: rotate(180deg)
      }
    }
  }


  .element-picker {
    display: flex;
    flex-wrap: wrap;
  }

  .add-rule {
    padding: var(--res);
  }
}
