/* main {
  width: 100vw;
  height: 100vh;
  display: flex;
} */
:root {
  --width: 80vw;
}
canvas {
  margin: auto;
  width: var(--width) !important;
  height: var(--width) !important;
}
.color-button {
  width: calc(var(--width) / 16);
  height: calc(var(--width) / 16);
  background: none;
  border: none;
}
